

/* iPhone ----------------------------- */

@media only screen and (max-width:767px) {
	
	body {
	   
	   font: 13px/22px'Asap', sans-serif !important;
	}

	#commentWrapper {
		position: relative;
		width: 100%
	}
	#sidebarfixed.fixed {
		width: 100%;
		margin-top: 0px;
	}
	.refreshedlogo img {
		width: 150px;
		display: block;
		margin-left: 70px;
	}

	#sidebarfixed {
		display: block;
		position: relative;
		margin-top: 0px;
		padding-top: 0px;
	}



}


